.footer-desktop {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    padding: 1%;
    background-color: #1C8EF9;
    text-align: center;
    color: #ffffff;
  
    h5 {
      color: #ffffff;
    }
  
    ul {
      padding-left: 0px !important;
    }
  
    ul>li {
      padding: 1%;
      list-style-type: none;
    }
  
    .trademark {
      color: #ffffff;
    }
  }