/*
  Primary: #0b132b
  Primary Offset: #1c2541
  Primary Offset Text: #3a506b
  Custom Blue: #1C8EF9
 */

 $primaryDark: #0b132b;
 $primaryDarkText: #FFFFFF;
 $primaryDarkOffset: #1c2541;
 $primaryDarkOffsetText: #B4B7C0;
 $primaryBlue: #1C8EF9;
 $primaryBlueOffset: #1C8EF9;
 $primaryBlueOffsetText: #FFFFFF;
 $primaryOrange: #F39237;
 $primaryOrangeText: #FFFFFF;
 $primaryOrangeOffset: #FFFFFF;
 $primaryOrangeOffsetText: #000000;