.icon > svg{
  vertical-align: middle;
}

span.circle_icon {
  background: #fff;
  border-radius: 8em;
  -moz-border-radius: 8em;
  -webkit-border-radius: 8em;
  box-shadow: 0 0 0 6px #000;
  color: #000;
  display: inline-block;
  font-weight: bold;
  line-height: 10em;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  vertical-align: middle;
  width: 10em
}

icon {
  vertical-align: middle;
}