.float-left {
  float: left;
}

.time-clock {
  .punch-type {
    width: 95%;
  }
}

.time-clock-mobile {
  color: #ffffff !important;

  .table {
    color: #ffffff !important;
  }

  .headings {
    font-weight: bold;
  }

  .punch-type {
    width: 95%;
  }
}